.forgot-password {
    display: block;
    padding: 8px 0 0 0;
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
.no-account {
    padding: 10px 0 0 0;
    text-align: center;
}
.no-account a {
    font-weight: 600;
    color: #2835a1;
}