.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #2835a1;
    border: 1px solid #fff;
}
.header__menu-icon {
    width: 5%;
    background: #2835a1 url('../../icons/menu.png') 50% 50%/30px 30px no-repeat;
}
.header__input {
    width: 70%;
    background-color: #5762c3;
    padding-left: 20px;
    color: #fff;
    font-size: 15px;
}
.header__input::placeholder {
    color: #fff;
    opacity: 1;
}
.header__input:-ms-input-placeholder {
    color: #fff;
}
.header__cross {
    width: 5%;
    background: #5762c3 url('../../icons/cross.png') 50% 50%/30px 30px no-repeat;
}
.header__search-icon {
    width: 5%;
    background: #2835a1 url('../../icons/search.svg') 50% 50%/30px 30px no-repeat;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.header__name {
    width: 15%;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
}