.flex-big-small {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    background-color: #eee;
    margin: 30px 0 0 30px;
}
.flex-big-small__left {
    width: 65%;
}
.flex-big-small__right {
    width: 32.5%;
}
.flex-middle {
    display: flex;
}
.flex-middle__left {
    width: 50%;
}
.flex-middle__right {
    width: 50%;
}

button {
    margin: 30px 0 0 30px;
    width: 140px;
    height: 40px;
    font-size: 22px;
    background-color: #bbb;
    border-radius: 10px;
}