.forgot-password {
    display: block;
    padding: 8px 0 0 0;
    font-size: 13px;
    font-weight: 500;
}
.have-account {
    padding: 10px 0 0 0;
    text-align: center;
}
.have-account a {
    font-weight: 600;
    color: #2835a1;
}
.dark .have-account a,
.dark a.forgot-password {
    color: #ABB1E1;
}
.my-posts {
    display: block;
    padding: 7px 0 0 0;
    text-align: center;
    font-weight: 600;
    color: #2835a1;
}