.add-post__form {
    width: 80%;
}

.flex-lesson-image {
    /* display: flex;
    justify-content: center; */
}

.add-post__buttons {
    display: flex;
    margin: 20px 0 0 0;
}
.add-post__buttons button {
    width: 25%;
    margin: 0 10px;
}